body {
    font-family: 'Times New Roman';
    background-color: blue;
    color: white;
}

.h1 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-align: center;
}

.h2 {
    color: white;
    font-weight: bold;
    font-size: 72px;
    font-style: normal;
    text-align: center;
}

.buttonContinue {
    height: 30px;
    width: 45px;
    margin: auto;
    background-color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

.DecksButton {
    height: 30px;
    width: 45px;
    margin: auto;
    background-color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

.settingsButton {
    height: 30px;
    width: 45px;
    margin: auto;
    background-color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

.CompeteButton {
    height: 30px;
    width: 45px;
    margin: auto;
    background-color: darkgray;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}